:root {
  --background-color: #090f20;
  --color-extralight: #f5f5f5;
  --color-light: #63738c;
  --color-semibold: #3e3d3d;
  --color-highlight: #464ee7;
  --font-color: #f5f5f5;
  --font-family: "Inter", san-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
  font-size: 62.5%;
}

html:focus-within {
  scroll-behavior: smooth;
}

[data-theme="light"] {
  --font-color: #090f20;
  --background-color: #f5f5f5;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  display: grid;
  gap: 18rem;
  padding: 2rem;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 4rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  font-style: italic;
  font-weight: 500;
}

a,
p,
span,
li {
  font-size: 1.6rem;
}

a {
  color: var(--color-highlight);
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

p {
  color: var(--color-light);
  font-weight: 400;
  line-height: 2.6rem;
}

li {
  color: var(--color-medium);
  list-style: none;
}

/* HEADER */

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.toggle {
  display: inline-block;
  height: 3rem;
  position: relative;
  width: 5.7rem;
}

.toggle-switch input {
  display: none;
}

.slider {
  background-color: var(--color-highlight);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  bottom: 4px;
  background-color: var(--color-extralight);
  content: "";
  height: 2.25rem;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 2.2rem;
}

.slider.round {
  border-radius: 3rem;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--color-highlight);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* MAIN */

main {
  display: grid;
  gap: 18rem;
}

.intro-section {
  display: grid;
  gap: 1.5rem;
}

.highlight {
  color: var(--color-highlight);
  font-style: italic;
  font-weight: 500;
}

.experience-grid,
.projects-grid {
  display: grid;
  gap: 6rem;
}

.experience,
.project {
  display: grid;
  gap: 1.5rem;
}

.project-header {
  display: flex;
}

.project-name {
  font-weight: 500;
  padding-right: 1rem;
}

.project-tools {
  display: flex;
  gap: 1.25rem;
}

.tool,
.experience-duration {
  color: var(--color-highlight);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* FOOTER */

footer {
  display: flex;
  font-weight: 500;
  gap: 4rem;
  margin: auto;
}

.footer-link {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    padding: 2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    margin: 0 10rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    margin: 0 20rem;
  }
  .footer-links {
    display: flex;
    gap: 1.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    margin: 0 30rem;
  }
}
